.logo123-1-icon {
  position: relative;
  border-radius: var(--br-81xl);
  width: 66px;
  height: 66px;
  object-fit: cover;
}
.title {
  flex: 1;
  position: relative;
  line-height: 36px;
  font-weight: 500;
}
.top-bar-child {
  position: relative;
  border-radius: var(--br-81xl);
  width: 40px;
  height: 40px;
}
.tab {
  position: relative;
  line-height: 24px;
}
.navigation,
.top-bar {
  background-color: var(--color-darkgray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navigation {
  gap: 40px;
  font-size: var(--font-size-base);
}
.top-bar {
  width: 100%;
  top: 0;
  right: 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  height: 80px;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
}
.section,
.section-child,
.top-bar {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.section-child {
  margin: 0 !important;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: 0.5px;
  z-index: 0;
}
.section {
  top: 80px;
  width: 1440px;
  height: 297px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-41xl) 170px;
  box-sizing: border-box;
  background-image: url(./public/section@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.what-is-crowdsourcing {
  position: absolute;
  top: 25px;
  left: 494px;
  display: inline-block;
  width: 451px;
  height: 55px;
}
.crowdsourcing-is-the {
  margin: 0;
}
.crowdsourcing-is-the-container {
  position: absolute;
  top: 80px;
  left: 74px;
  font-size: 24px;
  display: inline-block;
  width: 1311px;
  height: 216px;
}
.what-is-crowdsourcing-parent {
  position: absolute;
  top: 377px;
  left: 0;
  width: 1440px;
  height: 352px;
  overflow: hidden;
  font-size: 36px;
  font-family: var(--font-inter);
}
.air-pollution {
  position: absolute;
  top: 34px;
  left: 60px;
  display: inline-block;
  font-weight: 700;
  width: 300px;
  height: 47px;
  color: white;
}
.air-pollution-wrapper {
  position: absolute;
  top: 127px;
  left: 190px;
  border-radius: var(--br-sm);
  background-color: var(--color-darkslategray);
  width: 416px;
  height: 117px;
  overflow: hidden;
}
.soil-pollution {
  position: absolute;
  top: 34px;
  left: 77px;
  display: inline-block;
  font-weight: 700;
  width: 265px;
  height: 53px;
  color: white;

}
.soil-pollution-wrapper {
  position: absolute;
  top: 376px;
  left: 190px;
  border-radius: var(--br-sm);
  background-color: var(--color-darkslategray);
  width: 416px;
  height: 117px;
  overflow: hidden;
}
.water-pollution {
  position: absolute;
  top: 30px;
  left: 30px;
  display: inline-block;
  font-weight: 700;
  width: 357px;
  height: 59px;
  color: white;

}
.water-pollution-wrapper {
  position: absolute;
  top: 127px;
  left: 808px;
  border-radius: var(--br-sm);
  background-color: var(--color-darkslategray);
  width: 416px;
  height: 117px;
  overflow: hidden;
}
.noise-pollution {
  position: absolute;
  top: 32px;
  left: 55px;
  display: inline-block;
  font-weight: 700;
  width: 325px;
  height: 52px;
  color: white;

}
.noise-pollution-wrapper {
  position: absolute;
  top: 376px;
  left: 808px;
  border-radius: var(--br-sm);
  background-color: var(--color-darkslategray);
  width: 416px;
  height: 117px;
  overflow: hidden;
}
.frame-parent {
  position: absolute;
  top: 673px;
  left: 0;
  background-color: var(--color-darkgray);
  width: 1440px;
  height: 620px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.title1,
.title2 {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  flex-shrink: 0;
}
.title1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 406px;
}
.title2 {
  width: 124px;
}
.container,
.section1,
.title2,
.title3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title3 {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  width: 196px;
  flex-shrink: 0;
}
.container,
.section1 {
  flex-direction: row;
}
.container {
  height: 100px;
  gap: 60px;
}
.section1 {
  position: absolute;
  top: 1293px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 1440px;
  overflow: hidden;
  padding: var(--padding-41xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
}
.desktop-7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1513px;
  overflow: hidden;
  text-align: left;
  font-size: 28px;
  color: var(--color-black);
  font-family: var(--font-roboto);
}
